.docs{
    width: 50%;
    .docs-header{
        label{
            font-family: poppins;
            font-size: 40px;
            font-weight: 600;
            color: #333;
        }
    
    }
    .search-docs{
        background-color: #eee;
        padding: 10px 20px;
        width: 100%;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        font-family: 'Poppins';
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
            color: #999;
            font-size: 20px;
            margin-right: 10px;
        }
        
        input{

            background-color: transparent;
            outline: none;
            width: 100%;
            &::placeholder{
                color: #999;
                font-family: 'Poppins';
            }
        }
    }
    .docs-list{
        padding: 30px 0;
        .teddy-doc{
            cursor: pointer;
            transition: 0.4s;
            padding: 10px 20px;
            border-radius: 10px;
            margin: 20px 0;
            &:hover{
                cursor: pointer;
                background-color: #f6f6f6;
                transition: 0.4s;
            }
            .doc-content{
                label{
                    font-family: poppins;
                    font-size: 20px;
                    font-weight: 600;
                    color: #333;
                }
                p{
                    padding-top: 5px;
                    font-family: poppins;
                    font-size: 15px;
                    font-weight: 400;
                    color: #333;
                }
                .doc-btn{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
                a{
                    border-style: solid;
                    
                    padding: 5px 10px;
                    border-width: 1px;
                    border-color: #222;
                    transition: 0.4s;
                    border-radius: 30px;
                    cursor: pointer;
                    &:hover{
                        transition: 0.4s;
                  
                        background-color: #333;
                        color: #fff;
                    }
                    span{
                        font-size: 14px;
                        font-family: system-ui;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .docs{
        width: 90%;
         
    }
    
}